@font-face {
	font-family: 'Kay Pho Du';
	src: url('../../Assets/fonts/Kay_Pho_Du/KayPhoDu-Regular.ttf')format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Kay Pho Du';
	src: url('../../Assets/fonts/Kay_Pho_Du/KayPhoDu-Medium.ttf')format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Kay Pho Du';
	src: url('../../Assets/fonts/Kay_Pho_Du/KayPhoDu-SemiBold.ttf')format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Kay Pho Du';
	src: url('../../Assets/fonts/Kay_Pho_Du/KayPhoDu-Bold.ttf')format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../../Assets/fonts/Inter/Inter_18pt-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Sue Ellen Francisco';
    src: url('../../Assets/fonts/Sue_Ellen_Francisco/SueEllenFrancisco-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    position: relative;
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(135deg, #ffffff, #acffba),
                url('../../Assets/start-background.svg') repeat;
}

#container__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Asegura que esté detrás del contenido */
    pointer-events: none; /* Evita la interacción del usuario con las imágenes */
    overflow: hidden;
}

.decor {
    position: absolute;
    transform: rotate(45deg); /* Opcional: rota las imágenes */
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1463px;
    height: 945px;
    gap: 60px;
    box-sizing: border-box;
    margin: auto;
}

.container__head {
    margin: 0;
    width: 100%;
    box-sizing: border-box;
}

.logo {
    margin-top: 74px;
    margin-left: 101px;
    width: 121px;
    height: 102px;
    display: block;
}

.container__body {
    display: flex;
    flex-direction: row;
    max-width: 1120px;
    align-self: center;
    height: 55  0px;
}

.container__body__section {
    display: flex;
    flex-direction: column;
    width: 563px;
    box-sizing: border-box;
}

#right-section {
    background-color: white;
    border-radius: 40px;
    justify-content: space-between;
    padding: 60px;
    gap: 15px;
    box-shadow: 0px 0px 13px 2px #65A26FB0;
}

.guide-box__head {
    display: flex;
    gap: 5px;
}

.guide-box__head__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 21px;
    color: #4467E3;
    margin: 0;
    padding: 0;
    align-self: center;
}

.guide-box__head__rain {
    width: 32px;
    height: 33px;
}

.guide-box__steps {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 90%;
    align-self: center;
    gap: 10px;
}

.guide-box__steps li {
    font-family: 'Inter';
    font-weight: 400;
    color: #7D7E83;
    flex-wrap: nowrap;
    font-size: 21px;
}

#startReading {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    color: white;
    height: 60px;
    border-radius: 15px;
    background-color: #4467E3;

    z-index: 1000;
    border: none;
}

#startReading:hover {
    background-color: #0b2277;
}

#left-section {
    justify-content: space-between;
    padding: 0px 40px 0px 0;
    gap: 30px;
}

#title {
    font-family: 'Kay Pho Du', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 70px;
    text-align: left;
    color: #474646;
    margin: 0;
    padding: 0;
}

.highlight {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.first-group-highlight {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.container__body__section__left__highlight {
    font-family: Sue Ellen Francisco;
    font-size: 90px;
    font-weight: 400;
    line-height: 100px;
    text-align: left;
    color: #474646;
}

.highlight-rectangle {
    padding: 0 25px;
    height: 116px;
    border-radius: 25px;
}

#highlight-green {
    background: #49FF66B0;
    width: fit-content;
}

#highlight-purple {
    background: #F0B3FF;
    width: fit-content;
}

.container__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

@media screen and (max-width: 1000px) {

    .container__body {
        gap: 20px;
    }

    .container__body__section {
        width: 70%;
        align-self: center;
        min-height: auto;
    }

    .container__body {
        flex-direction: column;
    }

    #right-section {
        margin-bottom: 50px;
    }

    #title {
        font-size: 60px;
    }

    .container__body__section__left__highlight{
        font-size: 60px;
    }
}

@media screen and (max-width: 563px) {
    .container__body__section {
        width: 90%;
    }
    
    .logo {
        justify-self: center;
        margin-left: 0;
    }

}
