
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #0e0e0e;
    color: white;
    width: 100vw;
    height: 100vh;
}

header {
    top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    background-color: black;
    width: 85vw;
    border-radius: 50px;
    box-sizing: border-box;
    justify-self: center;
    margin: 40px 0px 20px 0;
}

.navbar {
    display: flex;
    list-style: none;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.hero__title {
    width: fit-content;
    font-size: clamp(2rem, 4vw, 4.5rem); /* Tamaño adaptativo */
    color: white;
    font-family: 'Medula One', cursive;
    font-weight: 400;
    line-height: 1.2;
    white-space: nowrap;
    margin: 10px;
    padding: 0;
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.hero__button {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

/* Contenedor de imágenes */
.image-container {
    position: absolute;
    transform: scale(1.1);
    background: radial-gradient(circle at top left, rgba(128, 0, 128, 0.05) 50%, transparent 50%),
                radial-gradient(circle at bottom right, rgba(0, 128, 0, 0.05) 50%, transparent 50%);
    bottom: -90px;
    right: -200px;
}

/* Contenedor de texto */
.text-container {
    display: flex;
    flex-direction: column; /* Apila elementos verticalmente */
    justify-content: space-between; /* Distribuye los elementos verticalmente */
    border: 2px solid rgba(255, 255, 255, 0.1); /* Borde con transparencia */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-color: rgba(255, 255, 255, 0.05); /* Fondo translúcido */
    border-radius: 20px; /* Bordes redondeados */
    padding: 50px; /* Espaciado interno */
    width: 50%; /* Ancho del contenedor */
    height: 50vh; /* Altura del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    box-sizing: border-box;
}


/* Botones */
button {
    font-size: 1rem;
    background-color: white;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: fit-content;
    max-width: 230px;
    border-radius: 12px;
    margin-top: 20px;
    transition: background-color 0.3s;
    z-index: 1000;
}

button:hover {
    background-color: #45a049;
}

.hero__button {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
}

/* Logos */
.project-logo,
.github-logo {
    margin: 0 auto;
    max-width: 150px;
    display: block;
}

/* Párrafos */
p {
    font-family: 'Kokoro', sans-serif;
    margin: 10px 0;
    font-size: clamp(1rem, 2.5vw, 1.5rem); /* Tamaño adaptativo */
}

/* Encabezados */

h3 {
    font-size: clamp(1.5rem, 4vw, 3rem); /* Tamaño adaptativo */
    color: yellow;
    font-family: 'Medula One', cursive;
    font-weight: 400;
    line-height: 1.1;
    margin: 0;
    padding: 0;
    margin-top: -20px;
}

h3 img {
    vertical-align: middle;
}


@media screen and (max-width: 1326px) {

    .image-container {
        transform: scale(.8);
        bottom: -190px;
        right: -200px;
    }

    
    .text-container {
        height: 60vh;
    }
}

@media screen and (max-width: 815px) {

    .image-container {
        transform: scale(.7);
        bottom: -270px;
        right: -270px;
    }
}

@media screen and (max-width: 595px) {

    .image-container {
        transform: scale(.5);
        bottom: -260px;
        right: -250px;
    }

    
    .text-container {
        height: 100vh;
    }

    .image-container {
        display: none;
    }
}