#app {
    display: flex;
    width: 100vw;
    height: 100vh;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #020007;
    color: #FFFFFF;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0;
    overflow: hidden;
}

.back-button-style {
    fill: white; /* Color de relleno */
    width: 40px; /* Ancho personalizado */
    height: 40px; /* Altura personalizada */
    transition: transform 0.3s, fill 0.3s;
}
  
a:hover .back-button-style {
    fill: #4761a8; /* Cambia el color al pasar el ratón */
    transform: scale(1.2); /* Aumenta el tamaño */
}

.container {
    width: 90%; /* Ajusta el ancho para que no ocupe todo el viewport */
    max-width: 1010px;
    height: 80vh; /* Mantén la altura en relación al viewport */
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    margin: 0 auto; /* Centra horizontalmente */
    box-sizing: border-box;
    justify-content: center; /* Centra verticalmente */
    align-self: center;
}

.question-counter {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    color: #A5A5A5;
}

#remainingQuestionsBtn {
    background-color: #122658;
    border: none;
    padding: 16px 20px;
    border-radius: 16px;
    color: white;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 700;
}

.chat-box {
    flex: 1;
    background-color: #020007;
    border-radius: 28px;
    padding: 40px;
    overflow-y: auto;
    height: 80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    scrollbar-width: none; /* Firefox */
}

.chat-box::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
}

.message {
    display: flex;
    align-items: flex-start; /* Alinea el ícono en la parte superior */
    gap: 30px;
    margin: 15px 0;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    line-height: 24.2px;
}

.bot-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
    border: 1px solid #2D2D2D;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.bot-message span {
    font-weight: 300;
    color: #D7D7D7;
}

.user-message {
    background-color: #0E101D;
    width: 70%;
    align-self: flex-end; /* Esto alinea el mensaje del usuario a la derecha */
    border-radius: 10px;
    padding: 15px;
    font-size: 20px;
    line-height: 24.2px;
    display: flex;
    flex-direction: column;
}

.user-message span {
    font-weight: 300;
    color: #FFFFFF;
}

.input-area {
    display: flex;
    align-items: center;
    align-self: flex-start;
    width: 90%;
    border: 1px solid #000000;
    background-color: rgba(13, 14, 26, 0.77);
    border-radius: 28px;
    padding: 20px;
    height: 110px;
    gap: 20px;
}

textarea {
    flex: 1;
    padding: 0;
    border-radius: 8px;
    resize: none;
    height: 100%;
    border: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 300;
    line-height: 24.2px;
    box-sizing: border-box;
    outline: none;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-top: 30px;
    overflow-y: scroll; /* Para asegurarse de que se permita el desplazamiento */
    scrollbar-width: none; /* Firefox */
}

textarea::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
}

textarea::placeholder {
    color: #414B6E;
    font-weight: 600;
    font-size: 20px;
    line-height: 24.2px;
    display: flex;
    align-items: center;
}

.buttons {
    display: flex;
    gap: 10px;
}

button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #414B6E;
    color: #0A0B14;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

button:hover {
    background-color: #1B1F2F;
}
